In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../../Data/Data_train/abiodata_speciesID.csv", sep =";")

In [27]:
resultats_min = data.groupby('speciesId')[['bio1', 'bio2', 'bio3','bio4', 'bio5', 'bio6','bio7', 'bio8',
                                          'bio9', 'bio10', 'bio11','bio12', 'bio13', 'bio14','bio15', 'bio16',
                                          'bio17', 'bio18', 'bio19']].min()
resultats_max = data.groupby('speciesId')[['bio1', 'bio2', 'bio3','bio4', 'bio5', 'bio6','bio7', 'bio8',
                                          'bio9', 'bio10', 'bio11','bio12', 'bio13', 'bio14','bio15', 'bio16',
                                          'bio17', 'bio18', 'bio19']].max()

In [32]:
# Renommer les colonnes 1 à 19 en ajoutant le préfixe 'max'
nouvelles_colonnes = {}
for i in range(1, 20):
    ancien_nom = f'bio{i}'  # Remplacez 'col' par le nom réel de vos colonnes si nécessaire
    nouveau_nom = f'max{ancien_nom}'
    nouvelles_colonnes[ancien_nom] = nouveau_nom

resultats_max = resultats_max.rename(columns=nouvelles_colonnes)

nouvelles_colonnes = {}
for i in range(1, 20):
    ancien_nom = f'bio{i}'  # Remplacez 'col' par le nom réel de vos colonnes si nécessaire
    nouveau_nom = f'min{ancien_nom}'
    nouvelles_colonnes[ancien_nom] = nouveau_nom

resultats_min = resultats_min.rename(columns=nouvelles_colonnes)
resultats = pd.concat([resultats_min, resultats_max], axis=1)
resultats

,minbio1,minbio2,minbio3,minbio4,minbio5,minbio6,minbio7,minbio8,minbio9,minbio10,...,maxbio10,maxbio11,maxbio12,maxbio13,maxbio14,maxbio15,maxbio16,maxbio17,maxbio18,maxbio19
speciesId,,,,,,,,,,,,,,,,,,,,,
1,2884,55,"2,660000086",5404,2994,2778,206,2863,2956,2956,...,2974,2823,8098,1216,144,466,3324,852,852,2365
5,2801,49,"2,789999962",4470,2935,2650,175,2719,2755,2887,...,2927,2787,19902,2425,1162,225,6430,3936,4141,6251
10,2857,65,"2,880000114",5481,3005,2729,224,2858,2944,2944,...,2959,2820,11251,1519,481,480,4327,1824,1824,2404
11,2788,50,"2,869999886",4159,2908,2649,174,2751,2717,2871,...,2926,2786,13970,1643,790,292,4710,2481,2933,4391
24,2764,39,"2,609999895",3927,2911,2610,149,2751,2687,2854,...,2975,2824,18883,2065,1103,480,5810,3688,4264,5273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,2885,84,"3,180000067",6206,3027,2758,264,2890,2968,2968,...,2972,2812,5979,875,112,445,2404,661,661,1486
10031,2831,86,"3,460000038",5861,2956,2707,249,2801,2909,2909,...,2909,2759,13883,2037,397,441,5646,1693,1693,3616
10035,2795,68,"3,190000057",4547,2940,2648,193,2801,2717,2887,...,2974,2807,11873,1337,851,433,3778,2694,2730,3149
10038,2844,99,"3,579999924",6317,2992,2715,277,2848,2928,2928,...,2928,2766,10655,1360,417,345,3931,1678,1678,2486
10039,2830,62,"2,75999999",5375,2964,2690,224,2809,2766,2910,...,2974,2829,10797,1536,635,478,4211,2223,2343,2984

In [38]:
resultats.to-csv('../../Data/Data_train/valbio_min_max_par_especes.csv')

AttributeError: 'DataFrame' object has no attribute 'to'